Repository hoffstadt/pilotlight, pull requests merged in 2022-12, with the labels that each got.

#74 fix: camera projection calculation
  src/pl_camera.h
Labels: priority: High, type: bug, state: ready

#73 Change WM_DESTROY to WM_CLOSE. WM_DESTROY
  src/pl_main_win32.c
Labels: platform: Windows, priority: Low, type: improvement, state: ready, system: os

#76 feat: add asset download script (for testing)
  .gitignore
  scripts/download_assets.py
Labels: priority: Low, type: feature, type: build, system: build

#78 chore: tweaks & prep work for shader system
  .github/workflows/build.yml
  .github/workflows/static-analysis.yml
  scripts/gen_build.py
  src/pl_ds.h
  src/pl_graphics_vulkan.c
  src/pl_graphics_vulkan.h
  tools/pl_build.py
Labels: backend: Vulkan, priority: Normal, type: bug, type: build, system: data structures, system: build, system: graphics

#84 feat: add string module #83
  src/pilotlight.c
  src/pl_string.h
Labels: priority: Normal, type: feature, state: ready

#85 feat: add udp support #82
  src/pl_main_win32.c
  src/pl_os.h
  src/pl_os_linux.c
  src/pl_os_macos.m
  src/pl_os_win32.c
Labels: platform: Windows, platform: Linux, platform: MacOS, priority: Normal, type: feature, state: ready

#86 feat: add initial PSO mng to resource manager
  setup.py
  src/app_vulkan.c
  src/pl_graphics_vulkan.c
  src/pl_graphics_vulkan.h
Labels: backend: Vulkan, priority: Normal, type: improvement, state: ready, system: graphics

#87 feat: add more draw commands #23
  src/pl_draw.c
  src/pl_draw.h
Labels: priority: Normal, type: feature, state: ready, system: draw

#89 feat: add initial UI #88
  src/app_vulkan.c
  src/pilotlight.c
  src/pl_math.h
  src/pl_math.inc
  src/pl_ui.c
  src/pl_ui.h
Labels: priority: Normal, type: feature, state: ready, system: ui

#97 feat: add clipping to drawing API #24
  extensions/pl_draw_extension.c
  src/app_dx11.c
  src/app_metal.m
  src/app_vulkan.c
  src/pl_draw.c
  src/pl_draw.h
  src/pl_draw_dx11.h
  src/pl_draw_metal.h
  src/pl_draw_vulkan.h
  src/pl_main_macos.m
  src/pl_math.h
Labels: backend: Vulkan, backend: Metal, backend: Directx 11, priority: Normal, type: feature, state: ready, system: draw

#98 feat: add radios & selectables #90
  src/app_vulkan.c
  src/pl_ui.c
  src/pl_ui.h
Labels: priority: Normal, type: feature, state: ready, system: ui

#99 feat: add tabs & fix min size & add scissoring #91
  src/app_vulkan.c
  src/pl_draw_vulkan.h
  src/pl_ui.c
  src/pl_ui.h
Labels: backend: Vulkan, priority: Normal, type: feature, state: ready, system: ui

#112 feat: add pre/post build to pl_build #111
  tools/deploy_setup.py
  tools/pl_build.py
Labels: priority: Normal, type: feature, platform: All, system: build
