Repository hoffstadt/pilotlight, pull requests merged in 2022-11, with the labels that each got.

#40 feat: add keyboard/mouse IO internals #24
  .github/workflows/static-analysis.yml
  README.md
  setup.py
  src/app_dx11.c
  src/app_metal.m
  src/app_vulkan.c
  src/build.sh
  src/pilotlight.h
  src/pl_draw.c
  src/pl_draw.h
  src/pl_draw_dx11.h
  src/pl_draw_vulkan.h
  src/pl_ds.h
  src/pl_graphics_metal.h
  src/pl_graphics_vulkan.c
  src/pl_graphics_vulkan.h
  src/pl_io.h
  src/pl_log.h
  src/pl_main_linux.c
  src/pl_main_macos.m
  src/pl_main_win32.c
  src/pl_math.h
  src/pl_memory.h
  src/pl_os.h
  src/pl_os_linux.c
  src/pl_os_macos.m
  src/pl_os_win32.c
  src/pl_profile.h
Labels: backend: Vulkan, priority: Normal, type: feature, state: ready, state: approved, system: data structures, system: log, system: profile, system: memory, system: os, system: io, platform: All

#47 fix: fix issue w/ pl_build.py not having main target
  tools/pl_build.py
Labels: priority: Normal, type: build, platform: All

#49 fix: issue template misspelling
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: priority: Low, type: admin

#54 fix: pl_build.py not cleaning pdb files #53
  tools/pl_build.py
Labels: platform: Windows, priority: High, type: bug, state: ready, system: build

#56 feat: vulkan tweaks, format selection, validation layer fix
  src/app_vulkan.c
  src/pl_graphics_vulkan.c
  src/pl_graphics_vulkan.h
  src/pl_main_win32.c
Labels: backend: Vulkan, platform: Windows, platform: Linux, priority: High, type: improvement, state: ready, system: graphics

#55 feat: add basic 3D math #50
  src/pl_io.h
  src/pl_math.h
  src/pl_math.inc
Labels: priority: Normal, type: feature, state: ready, system: math

#57 feat: basic camera part 1
  setup.py
  src/pilotlight.c
  src/pl_camera.h
Labels: backend: Vulkan, platform: Windows, platform: Linux, priority: Normal, type: feature, system: graphics, system: math

#62 feat: add vulkan support to macos #58
  src/app_vulkan.c
  src/build.py
  src/pl_graphics_vulkan.h
  src/pl_main_macos.m
Labels: backend: Vulkan, platform: MacOS, priority: Normal, type: feature, state: ready, system: build, system: graphics

#64 feat: add Vulkan MSAA support & other tweaks #63
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/build.yml
  src/app_vulkan.c
  src/build.py
  src/pl_camera.h
  src/pl_draw_vulkan.h
  src/pl_graphics_vulkan.c
  src/pl_graphics_vulkan.h
Labels: backend: Vulkan, priority: Normal, type: feature, state: ready, system: graphics

#65 fix: vulkan tweaks & API simplifications
  src/app_metal.m
  src/app_vulkan.c
  src/pl_graphics_metal.h
  src/pl_graphics_vulkan.c
  src/pl_graphics_vulkan.h
  src/pl_io.h
  src/pl_main_macos.m
Labels: backend: Vulkan, priority: Normal, type: feature, type: improvement, system: graphics

#66 perf: reduce drawing API vertex data size #22
  src/pl_draw.c
  src/pl_draw.h
  src/pl_draw_dx11.h
  src/pl_draw_metal.h
  src/pl_draw_vulkan.h
Labels: priority: Normal, type: improvement, state: ready, platform: All, backend: All, system: graphics
